    <!--{{src}}-->
  	<div class="wrap">
  		<header class="cf">
		  	<div id="logo-box"><h1 id="logo-user" ><a href=""><span class="tk-neuzon">Ramendan</span><span class="period">August 2011</span></a></h1></div>
			<ul class="user-stats cf">
				<li class="user-name"><a href="http://twitter.com/{{handle}}" class="twitter-user-img"><img height="48" width="48" src="{{img}}" alt="{{handle}}" class="user-profile-link"></a><a href="http://twitter.com/{{handle}}">{{name}}</a></li>
				<!-- show different classes for statuses
					devotee
					infidel etc
				-->
				<li class="user-status devotee">Devotee<span>Status</span></li>
				<li class="user-progress">{{score}} / 100<span>Progress</span></li>
			</ul>
		</header>
		
		<div class="badge-box cf">
			<div class="badge-col">
				<strong class="badge-ttl">Unlocked Badges <span class="badge-ttl-sub">2pts / each</span></strong>
				<div class="badge-item badge-preperation unlocked">
					<strong>Preperation</strong>
					<p>send a valid observance tweet before ramendan starts</p>
				</div>
			</div>
			<div class="badge-col">
				<div class="badge-item badge-incocation unlocked">
					<strong>Invocation</strong>
					<p>native retweet a @ramendan tweet</p>
				</div>
				<div class="badge-item badge-evangelism">
					<strong>Evangelism</strong>
					<p>end a tweet with <code>#rAmen.</code></p>
				</div>
			</div>	
			<div class="badge-col badge-col-last">
				<div class="badge-item badge-reverence">
					<strong>Reverence</strong>
					<p>mention @ramendan</p>
				</div>
				<div class="badge-item badge-discipline">
					<strong>Discipline</strong>
					<p>observe all 30 nights of ramendan</p>
				</div>
			</div>				
		</div>

		<div class="calendar-box">			
				<ul class="weekday-names cf">
					<li>Sun</li>
					<li>Mon</li>
					<li>Tue</li>
					<li>Wed</li>
					<li>Thu</li>
					<li>Fri</li>
					<li>Sat</li>
				</ul>
				
				<div class="calendar cf">
					<!--NOTE 
						statuses are:
						day-missed 
						day-ramen 
						day-future			
					-->
				
				
					<!--week 1-->
					<div class="day day-none">
					</div>
					<div class="day day-missed">
						<strong class="day-date">01</strong>
						<img src="/img/day-missed.png" class="pic"/>
					</div>
					<div class="day day-missed">
						<strong class="day-date">02</strong>
						<img src="/img/day-missed.png" class="pic" />
					</div>
					<div class="day day-ramen">
						<strong class="day-date">03</strong>
						<a href="" class="pic-link"><img src="/img/ramen1.jpg" class="pic"/></a>
						<!--jquery?-->
						<span class="tweet">
							<span class="tweet-content">Afuri gentei  ramen, so yummy! Could eat everyday @ramendan. mmmhh I would like to have one tomorrow too. yup. actually am hungry right now.</span>
							<span class="speech-bubble">&nbsp;</span>
						</span>
					</div>									
					<div class="day day-ramen">
						<strong class="day-date">04</strong>
						<a href="" class="pic-link"><img src="/img/ramen1.jpg" class="pic" /></a>
						<span class="tweet" >
							<span class="tweet-content">おすすめですね。ここは。また行きたい。@ramendan</span>
							<span class="speech-bubble">&nbsp;</span>
						</span>						
					</div>
					<div class="day day-missed">
						<strong class="day-date">05</strong>
						<img src="/img/day-missed.png" class="pic"/>
					</div>
					<div class="day day-ramen">
						<strong class="day-date">06</strong>
						<a href="" class="pic-link"><img src="/img/ramen1.jpg" class="pic"/></a>
						<span class="tweet" >
							<span class="tweet-content">行くぞ〜〜〜@ramendan</span>
							<span class="speech-bubble">&nbsp;</span>
						</span>							
					</div>				
					
					<!--week 2-->
					<div class="day day-ramen">
						<strong class="day-date">07</strong>
						<a href="" class="pic-link"><img src="/img/ramen1.jpg" class="pic"/></a>
						<span class="tweet" style="display:none;">
							<span class="tweet-content">Afuri gentei  ramen, so yummy! Could eat everyday @ramendan. mmmhh I would like to have one tomorrow too. yup. actually am hungry right now.</span>
							<span class="speech-bubble">&nbsp;</span>
						</span>							
					</div>
					<div class="day day-missed">
						<strong class="day-date">08</strong>
						 <img src="/img/day-missed.png" class="pic"/>
					</div>
					<div class="day day-ramen">
						<strong class="day-date">09</strong>
						<a href="" class="pic-link"><img src="/img/ramen1.jpg" /></a>
						<span class="tweet" style="display:none;">
							<span class="tweet-content">Afuri gentei  ramen, so yummy! Could eat everyday @ramendan. mmmhh I would like to have one tomorrow too. yup. actually am hungry right now.</span>
							<span class="speech-bubble">&nbsp;</span>
						</span>							
					</div>
					<div class="day day-ramen">
						<strong class="day-date">10</strong>
						<a href="" class="pic-link"><img src="/img/ramen1.jpg" class="pic"/></a>
						<span class="tweet" style="display:none;">
							<span class="tweet-content">げんて〜〜〜〜　@ramendan</span>
							<span class="speech-bubble">&nbsp;</span>
						</span>							
					</div>									
					<div class="day day-missed">
						<strong class="day-date">11</strong>
						<img src="/img/day-missed.png" class="pic"/>
					</div>
					<div class="day day-ramen">
						<strong class="day-date">12</strong>
						<a href="" class="pic-link"><img src="/img/ramen1.jpg" class="pic"/></a>
						<span class="tweet" style="display:none;">
							<span class="tweet-content">Afuri gentei  ramen, so yummy! Could eat everyday @ramendan. mmmhh I would like to have one tomorrow too. yup. actually am hungry right now.</span>
							<span class="speech-bubble">&nbsp;</span>
						</span>							
					</div>
					<div class="day day-ramen">
						<strong class="day-date">13</strong>
						<a href="" class="pic-link"><img src="/img/ramen1.jpg" class="pic"/></a>
						<span class="tweet">
							<span class="tweet-content">美味しい！〜 @ramendan</span>
							<span class="speech-bubble">&nbsp;</span>
						</span>							
					</div>
	
					<!--week 3-->
					<div class="day day-future">
						<strong class="day-date">14</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">15</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">16</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">17</strong>
						<span>2pts</span>
					</div>									
					<div class="day day-future">
						<strong class="day-date">18</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">19</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">20</strong>
						<span>2pts</span>
					</div>
					
					<!--week 4-->
					<div class="day day-future">
						<strong class="day-date">21</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">22</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">23</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">24</strong>
						<span>2pts</span>
					</div>									
					<div class="day day-future">
						<strong class="day-date">25</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">26</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">27</strong>
						<span>2pts</span>
					</div>
					
					<!--week 5-->
					<div class="day day-future">
						<strong class="day-date">28</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">29</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">30</strong>
						<span>2pts</span>
					</div>
					<div class="day day-future">
						<strong class="day-date">31</strong>
						<span>2pts</span>
					</div>
				</div>			

				<ul class="weekday-names cf">
					<li>Sun</li>
					<li>Mon</li>
					<li>Tue</li>
					<li>Wed</li>
					<li>Thu</li>
					<li>Fri</li>
					<li>Sat</li>
				</ul>

	
	</div>